.navbar {
  border-radius: 0;
  background: black;
  color: white; 
}

.navBar {
  background: black;
  color: white; 
  border-bottom: 1px solid white;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}